*~
*.swp
*.swo
*~ #*#
.#*
*.bak
logs
google*
*.log
.tags
.tags*
tags

*.kde*

*.sublime-*
.project
.buildpath
.settings/
.tern-project

markdown/
cash/
download/
upload/
cache/
html/

mobileserver

out/